

@media (max-width: 768px){
    .main_content{
        max-width: 768px;
        margin: 0 auto;
        font-family: 'Montserrat', sans-serif;
        color: #ffff;
    }

    .header_menu{
        position: absolute;
        top: -100px;
    }

    /*------------------------------------------------------М Е Н Ю  Б У Р Г Е Р----------------------------------------------------------------*/

    .header_burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        align-self: center;
        z-index: 30;
    }

    .header_burger span{
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: white;
        transition: all 0.3s linear 0s;
        top: 9px;
    }

    .header_burger::before,
    .header_burger::after{
        content: '';
        background-color: white;
        position: absolute;
        width: 100%;
        height: 2px;
        transition: all 0.3s ease 0s;
    }
    .header_burger::before{
        top: 0;
        left: 0;
    }
    .header_burger::after{
        bottom: 0;
        left: 0;
    }

    .header_burger.active span{
        transform: scale(0);
    }

    .header_burger.active::before{
        transform: rotate(45deg);
        top: 9px;
    }
    .header_burger.active::after{
        transform: rotate(-45deg);
        bottom: 9px;
     }

     /*--------------------------------------------------------------------------------------------------------------------------------------*/

     .header_menu.active{
         position: absolute;
         top: 100px;
         left: 20%;
         .header_list.active{
             display: flex;
             flex-direction: column;
             li{
                 text-align: center;
                 margin-top: 20px;
                 font-size: 22px;
             }
         }
     }
     

     .header_content.active{
         max-width: 100%;
         height: 300px;
         align-content: flex-start;
         .header_logo{
             align-self: flex-start;
             margin-left: 35%;
             transition : all 0.2s linear 0s;
         }
     }


     .project_typo{
        text-align: center;
     }

}   


@media (max-width: 375px){
    .main_content{
        max-width: 375px;
        margin: 0 auto;
        font-family: 'Montserrat', sans-serif;
        color: #ffff;
    }

    .header_menu{
        position: absolute;
        top: -100px;
    }

    /*------------------------------------------------------М Е Н Ю  Б У Р Г Е Р----------------------------------------------------------------*/

    .header_burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        align-self: center;
        z-index: 30;
    }

    .header_burger span{
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: white;
        transition: all 0.3s linear 0s;
        top: 9px;
    }

    .header_burger::before,
    .header_burger::after{
        content: '';
        background-color: white;
        position: absolute;
        width: 100%;
        height: 2px;
        transition: all 0.3s ease 0s;
    }
    .header_burger::before{
        top: 0;
        left: 0;
    }
    .header_burger::after{
        bottom: 0;
        left: 0;
    }

    .header_burger.active span{
        transform: scale(0);
    }

    .header_burger.active::before{
        transform: rotate(45deg);
        top: 9px;
    }
    .header_burger.active::after{
        transform: rotate(-45deg);
        bottom: 9px;
     }

     /*--------------------------------------------------------------------------------------------------------------------------------------*/

     .header_menu.active{
         position: absolute;
         top: 100px;
         left: -60px;
         .header_list.active{
             display: flex;
             flex-direction: column;
             li{
                 text-align: center;
                 margin-top: 20px;
                 font-size: 22px;
             }
         }
     }
     

     .header_content.active{
         max-width: 100%;
         height: 300px;
         align-content: flex-start;
         .header_logo{
             align-self: flex-start;
             margin-left: 15%;
             transition : all 0.2s linear 0s;
         }
     }


     .project_typo{
        text-align: center;
     }

}   

@media (max-width: 414px){
    .header_menu.active{
        position: absolute;
        top: 100px;
        left: -20px;
        .header_list.active{
            display: flex;
            flex-direction: column;
            li{
                text-align: center;
                margin-top: 20px;
                font-size: 22px;
            }
        }
    }
    

    .header_content.active{
        max-width: 100%;
        height: 300px;
        align-content: flex-start;
        .header_logo{
            align-self: flex-start;
            margin-left: 20%;
            transition : all 0.2s linear 0s;
        }
    }

}