.header_burger{
    display: none;
}
.digit{
    display: none;
}

@media (max-width: 768px){
    .digit{
        display: none;        
    }
    .header{
        width: 100%;
        top: 0;
        left: 0;
        z-index: 60;
        
    }

    .header_body{
        position: relative;
        z-index: 56;
        display: flex;
    }

    .header.active::before{
        content: '';
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 90%;
        background-color: #242B33;
        opacity: 0.95;
    }

    .header_burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        align-self: center;
        z-index: 43;
    }

    .header_burger span{
        position: absolute;
        background-color: white;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    .header_burger::before,
    .header_burger::after{
        content: '';
        background-color: white;
        position: absolute;
        width: 100%;
        height: 2px;
        transition: all 0.3s ease 0s;
    }
    .header_burger::before{
        top: 0;
        left: 0;
    }
    .header_burger::after{
        bottom: 0;
        left: 0;
    }
    .header_burger.active span{
        transform: scale(0);
    }

    .header_burger.active::before{
        transform: rotate(45deg);
        top: 9px;
    }
    .header_burger.active::after{
        transform: rotate(-45deg);
        bottom: 9px;
     }

    .header_menu{
        position: absolute;
        top: -100px;
        left: 0;
        width: max-content;
        height: 100%;
    }

    .header_menu.active{
        position: absolute;
        top: 0;
        left: 10vw;
        width: 100%;
        height: 100%;
        ul.active{
            text-align: center;
            font-size: 25px;
            display: flex;
            height: 65vh;
            flex-direction: column;
        }
    }

        .header_contacts{
            margin-left: 50%;
            width: 582px;
        }
    



    .items_wrapper{
        display: flex;
        flex-direction: column;
    }

    .our_flats{
        .flats_wrapper{
            text-align: center;
        }
    }

    .order{
        .order_wrapper{
            .order_form{
                .button_wrapper{
                   display: flex;
                   flex-direction: column;
                   align-items: center;
                }
            }
        }
    }

    .video_wrapper{
        img{
            max-width: 100%;
        }
    }
}
/*-------------------------------------------------------M O B I L E------------------------------------------------------------------------*/

@media (max-width: 375px){
    .digit{
        display: none;        
    }
    .header{
        width: 100%;
        top: 0;
        left: 0;
        z-index: 60;
        
    }

    .header_body{
        position: relative;
        z-index: 56;
        display: flex;
    }

    .header.active::before{
        content: '';
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 90%;
        background-color: #242B33;
        opacity: 0.95;
    }

    .header_burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        align-self: center;
        z-index: 43;
    }

    .header_burger span{
        position: absolute;
        background-color: white;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    .header_burger::before,
    .header_burger::after{
        content: '';
        background-color: white;
        position: absolute;
        width: 100%;
        height: 2px;
        transition: all 0.3s ease 0s;
    }
    .header_burger::before{
        top: 0;
        left: 0;
    }
    .header_burger::after{
        bottom: 0;
        left: 0;
    }
    .header_burger.active span{
        transform: scale(0);
    }

    .header_burger.active::before{
        transform: rotate(45deg);
        top: 9px;
    }
    .header_burger.active::after{
        transform: rotate(-45deg);
        bottom: 9px;
     }

    .header_menu{
        position: absolute;
        top: -100px;
        left: 0;
        width: max-content;
        height: 100%;
    }

    .header_menu.active{
        position: absolute;
        top: 20vh;
        left: -35vw;
        width: 100%;
        height: 100%;
        ul.active{
            text-align: center;
            font-size: 18px;
            display: flex;
            height: 35vh;
            flex-direction: column;
        }
    }

    .header_center{
        .header_title{
            margin-left: -300px;
            span{
                color: #D4C17F;
                font-family: "Playfair Display", serif;
                font-size: 24px;
            }
        }
        .header_contacts{
            display: flex;
            flex-direction: column;
            margin-left: 70%;
            width: 582px;
            .header_address{
                margin-left: 65px;
            }
        }
    }



    .items_wrapper{
        display: flex;
        flex-direction: column;
    }

    .our_flats{
        .flats_wrapper{
            text-align: center;
            .flats_grid{
                margin-top: 120px;
                max-width: 100%;
                display: grid;
                grid-template-columns: 3fr;
                grid-template-rows: 2fr 2fr 2f 2fr;
                .flat_item{
                    position: relative;
                    img{
                        position: relative;
                        z-index: 4;
                        max-width: 100%;
                    }
                    span{
                        font: 12px "Raleway" , sans-serif;
                        color:#fff;
                        position: absolute;
                        bottom: 10px;
                        left: 50px;
                        z-index: 5;
                    }
                }
            }
        }
    }

    .order{
        .order_wrapper{
            display: flex;
            flex-direction: column;
            .order_typo{
                text-align: center;
                span:nth-child(2){
                    margin-top: 30px;
                }
            }
            .order_form{
                margin-top: 50px;
                .button_wrapper{
                   display: flex;
                   flex-direction: column;
                   align-items: center;
                }
            }
        }
    }

    .video_wrapper{
        img{
            max-width: 100%;
        }
    }

    .footer_content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        img{
            margin-top: 10px;
        }
        .footer_typo{
            text-align: center;
            margin-bottom: 60px;
            height: 149px;
            margin-top: 60px;
            font: 14px "Raleway", sans-serif;
            color:#fff;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .icons{
                display: flex;
                justify-content: space-between;
            }
        }
    }
}
