@import "vars";
@import "libs";
@import "fonts";

body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: Montserrat, sans-serif;
}

.header_burger{
    display: none;
}

.icon_wrapper{
    img{
        width: 32px;
    }
   
}

ul{
    list-style: none;
}
/*--------------------------------------------------------П Е Р В Ы Й  Э К Р А Н---------------------------------------------------------------*/

.main_screen{
    background: linear-gradient(178.64deg, #2ACFE6 6.54%, rgba(0, 174, 38, 0.74) 128.2%);
    padding-bottom: 10px;
}

.main_content{
    max-width: 1050px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    color: #ffff;

}

.header{
    background: linear-gradient(358.79deg, #637E69 -172.41%, rgba(101, 238, 210, 0) 88.64%);
    .header_content{
        margin: 0 auto;
        max-width: 1050px;
        height: 124px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .header_menu{
            width: 400px;
            .header_list{
                color: #ffff;
                font-size: 18px;
                display: flex;
                justify-content: space-between;
                li{
                    letter-spacing: 0.01em;
                    cursor: pointer;
                }
            }
        } 
    }
}

.content_wrapper{
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .img_wrapper{
        position: relative;
        left: -900px;
        img{
            max-width: 100%;
        }
    }
    .main_typo{
        margin-top: 50px;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        opacity: 0.1;
    }
}

/*-------------------------------------------------------П О Р Т Ф О Л И О--------------------------------------------------------------------*/
.project_screen{
    background-color: #ffff;
}
.project_content{
    max-width: 1050px;
    margin: 100px auto;
    .project_typo{
        display: flex;
        flex-direction: column;
        a,a:visited{
            text-decoration: none;
            color: #000;
        }
    }
}

/*--------------------------------------------------------П О Д В А Л-------------------------------------------------------------------------*/
.footer{
    background: linear-gradient(178.64deg, #2ACFE6 6.54%, rgba(0, 174, 38, 0.74) 128.2%);
}

.footer_content{
    max-width: 1050px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    .icon_wrapper{
        width: 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@import "media";